development:
  slack:
    slack_api_token: ''
    webhook_url: ''
    river: ''

test:
  slack:
    slack_api_token: ''
    webhook_url: ''
    river: ''

production:
  slack:
    slack_api_token: ''
    webhook_url: ''
    river: ''
